Repository mlcommons/medperf, pull requests merged in 2022-10, with the labels that each got.

#259 Implement Entities Interface
  cli/cli.sh
  cli/medperf/__main__.py
  cli/medperf/commands/benchmark/submit.py
  cli/medperf/commands/compatibility_test.py
  cli/medperf/commands/dataset/associate.py
  cli/medperf/commands/dataset/create.py
  cli/medperf/commands/dataset/list.py
  cli/medperf/commands/dataset/submit.py
  cli/medperf/commands/mlcube/associate.py
  cli/medperf/commands/result/create.py
  cli/medperf/commands/result/list.py
  cli/medperf/commands/result/submit.py
  cli/medperf/comms/interface.py
  cli/medperf/comms/rest.py
  cli/medperf/entities/benchmark.py
  cli/medperf/entities/cube.py
  cli/medperf/entities/dataset.py
  cli/medperf/entities/interface.py
  cli/medperf/entities/result.py
  cli/medperf/tests/commands/benchmark/test_submit.py
  cli/medperf/tests/commands/dataset/test_associate.py
  cli/medperf/tests/commands/dataset/test_create.py
  cli/medperf/tests/commands/dataset/test_list.py
  cli/medperf/tests/commands/dataset/test_submit.py
  cli/medperf/tests/commands/mlcube/test_associate.py
  cli/medperf/tests/commands/result/test_create.py
  cli/medperf/tests/commands/result/test_submit.py
  cli/medperf/tests/commands/test_compatibility_test.py
  cli/medperf/tests/comms/test_rest.py
  cli/medperf/tests/entities/test_benchmark.py
  cli/medperf/tests/entities/test_cube.py
  cli/medperf/tests/entities/test_dataset.py
  cli/medperf/tests/entities/test_result.py
Labels: enhancement, cli

#267 Implement output folder deletion after cube failure
  cli/medperf/commands/dataset/create.py
  cli/medperf/commands/result/create.py
  cli/medperf/decorators.py
  cli/medperf/entities/cube.py
  cli/medperf/tests/commands/dataset/test_create.py
  cli/medperf/tests/commands/result/test_create.py
  cli/medperf/tests/entities/test_cube.py
  cli/medperf/utils.py
Labels: bug, cli

#289 MLCube examples should fail if a subprocess fails
  examples/BraTS/data_prep/project/mlcube.py
  examples/BraTS/metrics/project/mlcube.py
  examples/BraTS/model_deepmedic/project/mlcube.py
  examples/BraTS/model_deepscan/project/mlcube.py
  examples/BraTS/model_nnunet/project/mlcube.py
  examples/ChestXRay/chexpert_prep/project/mlcube.py
  examples/ChestXRay/chexpert_prep_separate_labels/project/mlcube.py
  examples/ChestXRay/metrics/project/mlcube.py
  examples/ChestXRay/xrv_chex_densenet/project/mlcube.py
  examples/SurgMLCube/surg_metrics/project/mlcube.py
  examples/SurgMLCube/surg_model_TeCNO/project/mlcube.py
  examples/SurgMLCube/surg_prep/project/mlcube.py
Labels: bug, documentation

#286 fix server internal error during get_permissions
  cli/medperf/comms/rest.py
  server/benchmarkdataset/permissions.py
  server/benchmarkmodel/permissions.py
  server/result/permissions.py
Labels: server
