Repository mlcommons/medperf, pull requests merged in 2022-08, with the labels that each got.

#145 Idempotent Data Preparation Step
  cli/medperf/commands/dataset/create.py
  cli/medperf/entities/registration.py
  cli/medperf/tests/commands/dataset/test_create.py
  cli/medperf/tests/comms/test_rest.py
  cli/medperf/tests/entities/test_registration.py
Labels: cli

#131 Recreate remote dataset on duplicate submission
  cli/medperf/commands/dataset/submit.py
  cli/medperf/tests/commands/dataset/test_submit.py
Labels: bug, cli, High Priority

#100 Implement documentation website
  .github/workflows/docs-ci.yml
  docs/about.md
  docs/assets/logo.png
  docs/cli/index.md
  docs/gen_ref_pages.py
  docs/index.md
  docs/server/index.md
  mkdocs.yml
Labels: documentation, enhancement

#230 Fix errors when deploying documentation
  .github/workflows/docs-ci.yml
  docs/gen_ref_pages.py
  mkdocs.yml
Labels: High Priority
