Repository mlcommons/medperf, pull requests merged in 2022-11, with the labels that each got.

#302 Process-dependent temporary storage
  cli/medperf/__main__.py
  cli/medperf/tests/test_utils.py
  cli/medperf/utils.py
Labels: bug, cli

#303 Mkdocs build fix and install instructions
  .github/workflows/docs-ci.yml
  README.md
  cli/requirements.txt
  docs/requirements.txt
Labels: bug, documentation

#312 Print Dataset contents on submission
  cli/medperf/commands/dataset/submit.py
  cli/medperf/tests/commands/dataset/test_submit.py
Labels: bug, cli

#306 Add metadata field for associations
  cli/medperf/comms/rest.py
  cli/medperf/tests/comms/test_rest.py
  server/benchmarkdataset/admin.py
  server/benchmarkdataset/migrations/0002_benchmarkdataset_metadata.py
  server/benchmarkdataset/models.py
  server/benchmarkmodel/admin.py
  server/benchmarkmodel/migrations/0002_rename_results_benchmarkmodel_metadata.py
  server/benchmarkmodel/models.py
  server/seed.py
Labels: server

#300 Use pagination for APIs that return lists
  cli/medperf/comms/rest.py
  cli/medperf/config.py
  cli/medperf/tests/comms/test_rest.py
  server/benchmark/views.py
  server/benchmarkdataset/views.py
  server/benchmarkmodel/views.py
  server/dataset/tests.py
  server/dataset/views.py
  server/medperf/settings.py
  server/mlcube/tests.py
  server/mlcube/views.py
  server/result/views.py
  server/user/tests.py
  server/user/views.py
  server/utils/views.py
Labels: cli, server

#288 Mutable urls of hosted files
  cli/medperf/commands/mlcube/mlcube.py
  cli/medperf/commands/mlcube/submit.py
  cli/medperf/config.py
  cli/medperf/entities/cube.py
  cli/medperf/tests/commands/mlcube/test_submit.py
  cli/medperf/tests/entities/test_cube.py
  cli/medperf/tests/mocks/requests.py
  server/benchmark/serializers.py
  server/dataset/tests.py
  server/mlcube/admin.py
  server/mlcube/migrations/0003_auto_20221109_1340.py
  server/mlcube/models.py
  server/mlcube/serializers.py
  server/mlcube/tests.py
  server/seed.py
Labels: server

#317 Update local entities by default
  cli/medperf/commands/result/create.py
  cli/medperf/entities/benchmark.py
  cli/medperf/entities/cube.py
  cli/medperf/entities/dataset.py
  cli/medperf/entities/result.py
  cli/medperf/tests/entities/test_benchmark.py
  cli/medperf/tests/entities/test_cube.py
Labels: enhancement, cli
