Repository mlcommons/medperf, pull requests merged in 2023-03, with the labels that each got.

#370 Adding ML Cubes Examples
  docs/general_instructions.md
  docs/index.md
  docs/mlcubes/mlcube_data.md
  docs/mlcubes/mlcube_metrics.md
  docs/mlcubes/mlcube_models.md
  docs/mlcubes/mlcubes.md
  docs/mlcubes/shared/build.md
  docs/mlcubes/shared/contents.md
  docs/mlcubes/shared/cookiecutter.md
  docs/mlcubes/shared/docker_file.md
  docs/mlcubes/shared/execute.md
  docs/mlcubes/shared/hello_world.md
  docs/mlcubes/shared/hotfix.md
  docs/mlcubes/shared/requirements.md
  docs/mlcubes/shared/setup.md
  docs/requirements.txt
  examples/HelloWorld/data_preparator/README.md
  examples/HelloWorld/data_preparator/mlcube/mlcube.yaml
  examples/HelloWorld/data_preparator/mlcube/workspace/data/labels.csv
  examples/HelloWorld/data_preparator/mlcube/workspace/data/names.csv
  examples/HelloWorld/data_preparator/mlcube/workspace/invalid_data/names.csv
  examples/HelloWorld/data_preparator/mlcube/workspace/labels/labels.csv
  examples/HelloWorld/data_preparator/mlcube/workspace/names/names.txt
  examples/HelloWorld/data_preparator/mlcube/workspace/parameters.yaml
  examples/HelloWorld/data_preparator/mlcube/workspace/statistics.yaml
  examples/HelloWorld/data_preparator/project/Dockerfile
  examples/HelloWorld/data_preparator/project/mlcube.py
  examples/HelloWorld/data_preparator/project/prepare.py
  examples/HelloWorld/data_preparator/project/requirements.txt
  examples/HelloWorld/data_preparator/project/sanity_check.py
  examples/HelloWorld/data_preparator/project/statistics.py
  examples/HelloWorld/evaluator/README.md
  examples/HelloWorld/evaluator/mlcube/mlcube.yaml
  examples/HelloWorld/evaluator/mlcube/workspace/labels/labels.csv
  examples/HelloWorld/evaluator/mlcube/workspace/labels/names.csv
  examples/HelloWorld/evaluator/mlcube/workspace/parameters.yaml
  examples/HelloWorld/evaluator/mlcube/workspace/predictions/predictions.csv
  examples/HelloWorld/evaluator/mlcube/workspace/results.yaml
  examples/HelloWorld/evaluator/project/Dockerfile
  examples/HelloWorld/evaluator/project/app.py
  examples/HelloWorld/evaluator/project/mlcube.py
  examples/HelloWorld/evaluator/project/requirements.txt
  examples/HelloWorld/model/README.md
  examples/HelloWorld/model/mlcube/mlcube.yaml
  examples/HelloWorld/model/mlcube/workspace/additional_files/greetings.csv
  examples/HelloWorld/model/mlcube/workspace/data/names.csv
  examples/HelloWorld/model/mlcube/workspace/parameters.yaml
  examples/HelloWorld/model/mlcube/workspace/predictions/predictions.csv
  examples/HelloWorld/model/project/Dockerfile
  examples/HelloWorld/model/project/app.py
  examples/HelloWorld/model/project/mlcube.py
  examples/HelloWorld/model/project/requirements.txt
  mkdocs.yml
Labels: documentation

#396 Implement Cookiecutter templates for relevant MLCubes
  .github/workflows/unittests.yml
  cli/medperf/commands/mlcube/create.py
  cli/medperf/commands/mlcube/mlcube.py
  cli/medperf/config.py
  cli/medperf/templates/data_preparator_mlcube/cookiecutter.json
  cli/medperf/templates/data_preparator_mlcube/hooks/post_gen_project.py
  cli/medperf/templates/data_preparator_mlcube/{{cookiecutter.project_slug}}/mlcube/mlcube.yaml
  cli/medperf/templates/data_preparator_mlcube/{{cookiecutter.project_slug}}/mlcube/workspace/parameters.yaml
  cli/medperf/templates/data_preparator_mlcube/{{cookiecutter.project_slug}}/project/Dockerfile
  cli/medperf/templates/data_preparator_mlcube/{{cookiecutter.project_slug}}/project/mlcube.py
  cli/medperf/templates/data_preparator_mlcube/{{cookiecutter.project_slug}}/project/requirements.txt
  cli/medperf/templates/evaluator_mlcube/cookiecutter.json
  cli/medperf/templates/evaluator_mlcube/hooks/post_gen_project.py
  cli/medperf/templates/evaluator_mlcube/{{cookiecutter.project_slug}}/mlcube/mlcube.yaml
  cli/medperf/templates/evaluator_mlcube/{{cookiecutter.project_slug}}/mlcube/workspace/parameters.yaml
  cli/medperf/templates/evaluator_mlcube/{{cookiecutter.project_slug}}/project/Dockerfile
  cli/medperf/templates/evaluator_mlcube/{{cookiecutter.project_slug}}/project/mlcube.py
  cli/medperf/templates/evaluator_mlcube/{{cookiecutter.project_slug}}/project/requirements.txt
  cli/medperf/templates/model_mlcube/cookiecutter.json
  cli/medperf/templates/model_mlcube/hooks/post_gen_project.py
  cli/medperf/templates/model_mlcube/{{cookiecutter.project_slug}}/mlcube/mlcube.yaml
  cli/medperf/templates/model_mlcube/{{cookiecutter.project_slug}}/mlcube/workspace/parameters.yaml
  cli/medperf/templates/model_mlcube/{{cookiecutter.project_slug}}/project/Dockerfile
  cli/medperf/templates/model_mlcube/{{cookiecutter.project_slug}}/project/mlcube.py
  cli/medperf/templates/model_mlcube/{{cookiecutter.project_slug}}/project/requirements.txt
  cli/medperf/tests/commands/mlcube/test_create.py
Labels: enhancement, cli

#354 Add versioning support for MedPerf APIs
  cli/cli_tests.sh
  cli/medperf/__init__.py
  cli/medperf/__main__.py
  cli/medperf/_version.py
  cli/medperf/comms/interface.py
  cli/medperf/comms/rest.py
  cli/medperf/config.py
  cli/medperf/setup.py
  cli/medperf/tests/comms/test_rest.py
  cli/medperf/utils.py
  cli/setup.py
  server/benchmark/urls.py
  server/benchmark/views.py
  server/benchmarkdataset/views.py
  server/benchmarkmodel/views.py
  server/dataset/tests.py
  server/dataset/urls.py
  server/dataset/views.py
  server/medperf/settings.py
  server/medperf/urls.py
  server/mlcube/tests.py
  server/mlcube/urls.py
  server/mlcube/views.py
  server/requirements.txt
  server/result/urls.py
  server/result/views.py
  server/seed.py
  server/user/tests.py
  server/user/urls.py
  server/user/views.py
  server/utils/urls.py
  server/utils/views.py
Labels: cli, server

#405 Docs hotfixes
  docs/gen_ref_pages.py
  docs/mlcubes/mlcube_models.md
Labels: bug, documentation
